.columns {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


div.columns > div:nth-child(2) {
  background-color: var(--highlight-background-color);
}

div.columns > div:nth-child(3) {
  background-color: var(--overlay-background-color);
}